body{
font-family:Arial;
text-align:center;
background:#222;
color:white;
}

canvas{
background:#2f4f4f;
border:2px solid white;
margin-top:10px;
}

.topbar{
display:flex;
justify-content:space-around;
font-size:24px;
}
