body{
margin:0;
background:#1b1b1b;
color:white;
font-family:Arial;
text-align:center;
}

.topbar{
display:flex;
justify-content:space-around;
align-items:center;
background:#333;
padding:10px;
font-size:20px;
}

canvas{
background:#0b5e20;
display:block;
margin:auto;
border:3px solid white;
}
.joystick{
position:fixed;
bottom:40px;
width:140px;
height:140px;
border-radius:70px;
background:rgba(255,255,255,0.15);
touch-action:none;
}

#leftJoystick{
left:40px;
}

#rightJoystick{
right:40px;
}

.stick{
width:60px;
height:60px;
background:rgba(255,255,255,0.5);
border-radius:30px;
position:absolute;
top:40px;
left:40px;
}


.help{
padding:10px;
font-size:14px;
opacity:.8;
}
